@tailwind base;
@tailwind components;
@tailwind utilities;

.time{
  color: #EFEFAE;
}
.name{
  color: brown;
}
.nameCurrent{
  color: #EFEFAE;
}
.text{
  color: #EFEFAE;
}

body {
  color: white;
  background-color: #3A3A3A;
  -webkit-text-stroke: 0.75px;
}
